@charset "utf-8";

#wrapper{
    width:100%;
    font-family: "나눔 고딕", sans-serif;
}

#headerIn, #top, #bottom{
    width:1920px;
    border-bottom:1px solid #ccc;
}

#headerIn{
    border:0;
}

#topIn{
    width:940px;
    height:80px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#bottomIn{
    width:940px;
    height:60px;
    margin:0 auto;
}

.logo{
    width:174px;
    height:80px;
}

.logo img{
    width:174px;
    height:80px;
}

#utill{
    position: relative;
    width:350px;
    left:130px;
}

#utill ul{
    display:flex; /* 수평 정렬 */
}

#utill div{
    width:60px; /* 넓이값 */
    height:32px; /* 높이값이 콘텐츠에 의해 설정됨(생략 가능) */
}

#utill a{
    display:block; /* 공간 설정 */
    width:70px; /* 넓이값 */
    height:auto; /* 높이값이 콘텐츠에 의해 설정됨(생략 가능) */
}

#utill img{
    display:block; /* 블록 생성 */
    margin:0 auto; /* 중앙 정렬 */
}

#utill p{
    font-family: sans-serif;
    text-align: center; /* 글자 중앙 배치 */
    font-size: 12px; /* 글자 크기 */
}

.search{
    position: relative;
    width:210px;
    height:32px;
}

input{
    width:198px; /* border값 제외한 넓이 */
    height:30px; /* border값 제외한 높이 */
    border: 1px solid #ccc;
    padding-left: 10px;
}

.search:after{
    content:"";
    display:block;
    width:14px;
    height:14px;
    background:url("../images/dot.jpg") no-repeat center / cover;
    position: absolute;
    top:9px;
    right:10px;
    cursor: pointer;
}

#gnb ul{
    display:flex;
}

#gnb li:nth-child(1)>a{
    width:120px;
}

#gnb li:nth-child(2)>a{
    width:77px;
    text-align: center;
}

#gnb li:nth-child(3)>a{
    width:105px;
    text-align: center;
}

#gnb li:nth-child(4)>a{
    width:100px;
    text-align: center;
}

#gnb li:nth-child(5)>a{
    position: relative;
    width:227px;
    color:#336799;
    text-align: center;
}

#gnb li:nth-child(5)>a:after{
    content:"";
    display:block;
    width:227px;
    height:5px;
    background: #2e55a2;
    position: absolute;
    bottom: 0;
}

#gnb li:nth-child(6)>a{
    position: relative;
    width:147px;
    color:#ce3402;
    text-align: center;
}

#gnb li:nth-child(6)>a:after{
    content:"";
    display:block;
    width:147px;
    height:5px;
    background: #ce3402;
    position: absolute;
    bottom: 0;
}

#gnb li:nth-child(7)>a{
    position: relative;
    width:164px;
    color:#333;
    text-align: center;
}

#gnb li:nth-child(7)>a:before{
    content:"";
    display:block;
    width:55px;
    height:5px;
    background: #1e2154;
    position: absolute;
    left:0;
    bottom: 0px;
}

#gnb li:nth-child(7)>a:after{
    content:"";
    display:block;
    width:55px;
    height:5px;
    background: #d53233;
    position: absolute;
    right:0;
    bottom: 0px;
}

#gnb a{
    display:block;
    height:60px;
    line-height: 60px;
    font-family: sans-serif;
    font-weight: 600;
    color:#333;
}

#mainIn{
    width:100%;
}

#background{
    width:1920px;
    height:2781px;
    background:#dbdbdb;
}

.mainbanner{
    position: relative;
    width:1920px;
    height:400px;
    margin-top:20px;
}

.mainbanner p1{
    position: absolute;
    top:91px;
    left:490px;
    color:#fff;
    font-size: 36px;
    font-family: "Couture", sans-serif;
}

.mainbanner p2{
    position: absolute;
    top:129px;
    left:534px;
    font-size: 14px;
    color:#fff;
}

#polo_button>ul{
    position: absolute;
    top:180px;
    left:628px;
    width:149px;
    height:35px;
}

#polo_button a{
    display:block;
    color:#fff;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    font-family: "Couture", sans-serif;
    border:1px solid #fff;
    margin-bottom:12px;
}

#maintop{
    position: relative;
    width:940px;
    display: flex;
}

#recommend{
    position: absolute;
    left:490px;
    margin-top:20px;
    width:550px;
    height:607px;
    color:#fff;
}

#recommend p1{
    position: absolute;
    top:219px;
    left:34px;
    font-size: 14px;
    letter-spacing: -1px;
}

#recommend p2{
    position: absolute;
    top:244px;
    left:34px;
    line-height: 40px;
    font-size: 36px;
    font-family: "Couture", sans-serif;
}

#recommend_button{
    position: absolute;
    top:334px;
    left:35px;
}

#recommend_button a{
    display: block;
    width:125px;
    height:35px;
    border:1px solid #fff;
    color:#fff;
    font-weight: bolder;
    font-size: 14px;
    font-family: "Couture", sans-serif;
    text-align: center;
    line-height: 35px;
    margin-bottom: 12px;
}

#event{
    position: absolute;
    left:1060px;
    margin-top:20px;
    width:370px;
    height:381px;
    background:#fff;
}

#event p1{
    position: absolute;
    top:240px;
    left:70px;
    color:#333;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    font-family: "Couture", sans-serif;
}

#event p2{
    position: absolute;
    left:64px;
    bottom:30px;
    font-size: 12px;
    color:#333;
    line-height: 22px;
    letter-spacing: -0.5px;
}

#newsletter{
    position: absolute;
    top:421px;
    left:1060px;
    width:370px;
    height:206px;
    background:#fff;
}

#newsletter p1{
    position: absolute;
    top:32px;
    left:99px;
    color:#333;
    font-size: 24px;
    font-family: "Couture", sans-serif;
}

#newsletter p2{
    position: absolute;
    top:70px;
    left:66px;
    color:#333;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    letter-spacing: -0.5px;
}

#newsletter a{
    position: absolute;
    left:120px;
    bottom:32px;
    display:block;
    width:130px;
    height:40px;
    background:#333;
    color:#fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}

#newarrival, #lacostelive, #lacostesport{
    position: absolute;
    left:490px;
    width:940px;
}

#lacostelive{
    top:363px;
}

#lacostesport{
    top:728px;
}

#newarrival p, #lacostelive p, #lacostesport p{
    position: absolute;
    top:632px;
    left:0;
    font-size: 58px;
    color:#fff;
    text-indent: -3px;
    font-family: "Couture", sans-serif;
    margin-top:10px;
}

.w_cashmere{
    position: absolute;
    top:694px;
    left:0;
}

.left_1{
    position: absolute;
    top:132px;
    left:20px;
    width:20px;
    height:32px;
}

.right_1{
    position: absolute;
    top:132px;
    right:20px;
    width:20px;
    height:32px;
}

.left_gray1, .left_gray2{
    position: absolute;
    top:132px;
    left:20px;
    width:20px;
    height:32px;
}

.right_gray1, .right_gray2{
    position: absolute;
    top:132px;
    right:20px;
    width:20px;
    height:32px;
}

.w_cashmere_text1, .lt_spirit_text1, .w_standcollar_text1, .m_oxfordshirt_text1, .m_crossbag_text1, .graduate_spw_text1, .w_pique_zipup_text1{
    position: absolute;
    right:20px;
    bottom:47px;
    font-size: 14px;
    font-weight: bolder;
    text-align: right;
    color:#333;
}

.w_cashmere_text2, .lt_spirit_text2, .w_standcollar_text2, .m_oxfordshirt_text2, .m_crossbag_text2, .graduate_spw_text2, .w_pique_zipup_text2{
    position: absolute;
    right:20px;
    bottom:26px;
    font-size: 12px;
    text-align: right;
    color:#333;
}

.lt_spirit{
    position: absolute;
    top:694px;
    left:320px;
}

.m_tennis_zipup{
    position: absolute;
    top:694px;
    right:0;
}

.m_tennis_zipup_text1, .m_tennis_shorts_text1{
    position: absolute;
    right:20px;
    bottom:47px;
    font-size: 14px;
    font-weight: bolder;
    text-align: right;
    color:#fff;
}

.m_tennis_zipup_text2, .m_tennis_shorts_text2{
    position: absolute;
    right:20px;
    bottom:26px;
    font-size: 12px;
    text-align: right;
    color:#fff;
}

.w_standcollar{
    position: absolute;
    top:694px;
    left:0;
}

.m_oxfordshirt{
    position: absolute;
    top:694px;
    left:320px;
}

.m_crossbag{
    position: absolute;
    top:694px;
    right:0;
}

.graduate_spw{
    position: absolute;
    top:694px;
    left:0;
}

.m_tennis_shorts{
    position: absolute;
    top:694px;
    left:320px;
}

.w_pique_zipup{
    position: absolute;
    top:694px;
    right:0;
}

#novak{
    position: absolute;
    width:474px;
    height:280px;
    background:#006666;
    top:1759px;
    left:956px;
}

#novak p1{
    position: absolute;
    top:100px;
    right:27px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color:#fff;
    font-family: "couture", sans-serif;
}

#novak p2{
    position: absolute;
    right:10px;
    bottom:106px;
    font-size: 14px;
    color:#fff;
}

#collabo{
    position: absolute;
    width:474px;
    height:280px;
    background:#003366;
    top:2060px;
    left:956px;
}

#collabo p1{
    position: absolute;
    top:88px;
    right:31px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color:#fff;
    font-family: "couture", sans-serif;
}

#collabo p2{
    position: absolute;
    right:30px;
    bottom:92px;
    font-size: 14px;
    color:#fff;
}

#sns{
    position: absolute;
    top:1759px;
    left:490px;
    width:446px;
    height:582px;
    background:#4d6aa6;
}

#sns>p1{
    position: absolute;
    top:24px;
    left:14px;
    color:#fff;
    font-size: 20px;
    font-weight: bolder;
}

#sns>p2{
    position: absolute;
    top:50px;
    left:14px;
    color:#fff;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: bolder;
}

.facebook_logo{
    position: absolute;
    top:18px;
    right:14px;
}

.facebook_bg{
    position: absolute;
    top:82px;
    left:14px;
}

.lacoste_logo{
    position: absolute;
    top:7px;
    left:7px;
}

#sns>.facebook_bg>p1{
    width:130px;
    position: absolute;
    top:5px;
    left:69px;
    font-size: 18px;
    color:#fff;
}

#sns>.facebook_bg>p2{
    position: absolute;
    top:28px;
    left:68px;
    font-size: 12px;
    color:#fff;
}

.sign_in{
    position: absolute;
    bottom:8px;
    right:7px;
}

.like{
    position: absolute;
    bottom:6px;
    left:5px;
}

.scroll{
    position: absolute;
    top:241px;
    left:14px;
    width:418px;
    height:323px;
    background:#f0f0f0;
    overflow-x: hidden;
    overflow-y: scroll; 
}

.f_like{
    position: absolute;
    top:8px;
    left:7px;
    width:373px;
    height:63px;
    background:#fff;
}

.f_like p{
    position: absolute;
    top:4px;
    left:13px;
    font-size: 12px;
}

.f_like img{
    position: absolute;
    top:26px;
    left:13px;
}

.post{
    position: absolute;
    top:82px;
    left:7px;
    width:373px;
    height:445px;
    background:#fff;
}

.post img{
    position: absolute;
    top:11px;
    left:12px;
    width:52px;
    height:52px;
}

.lacoste{
    position: absolute;
    top:20px;
    left:72px;
    font-size: 16px;
    font-weight: bolder;
    color:#333;
}

.time{
    position: absolute;
    top:40px;
    left:72px;
    font-size: 11px;
    color:#999;
}

.facebook_mini_logo img{
    position: absolute;
    top:16px;
    left:340px;
    width:18px;
    height:17px;
}

.earth img{
    top:43px;
    left:132px;
    width:10px;
    height:11px;
}

.holiday{
    position: absolute;
    top:77px;
    left:13px;
    letter-spacing: -1px;
    line-height:20px;
    font-size: 14px;
    color:#333;
}

.play img{
    top:180px;
    left:62px;
    width:16px;
    height:16px;
}

.more{
    position: absolute;
    top:177px;
    left:84px;
    font-size: 14px;
    color:#666699;
}

.l_holiday img{
    position: absolute;
    top:202px;
    left:13px;
    width:349px;
    height:232px;
}

footer{
    position: relative;
    width:1920px;
    background:#333;
}

#footerIn{
    width:940px;
    height:406px;
    display:flex;
    margin:0 auto;
}

.customer{
    position: absolute;
    top:39px;
    left:490px;
    width:210px;
    color:#fff;
    font-size: 18px;
    font-family: "couture", sans-serif;
    letter-spacing: 1px;
}

.customer_service a{
    display:block;
    width:96px;
    position: relative;
    top:73px;
    left:9px;
    color:#fff;
    font-size: 12px;
    line-height: 24px;
}

.categories{
    position: absolute;
    top:39px;
    left:810px;
    width:200px;
    color:#fff;
    font-size: 18px;
    font-family: "couture", sans-serif;
    letter-spacing: 1px;
}

.category a{
    display:block;
    width:115px;
    position: relative;
    top:73px;
    left:233px;
    font-size: 12px;
    line-height: 24px;
    color:#fff;
}

.info{
    position: absolute;
    top:260px;
    left:490px;
    font-size: 12px;
    color:#fff;
    letter-spacing: -1;
    line-height:24px;
}

.info>span{
    display:block;
    width:420px;
}

.info>address{
    font-style: normal;
}

.sinhan p{
    position: absolute;
    top:260px;
    left:930px;
    color:#fff;
    font-size: 12px;
    letter-spacing: -1;
    line-height: 24px;
}

.fsns{
    position: absolute;
    top:40px;
    left:1095px;
    width:335px;
    height:20px;
}

.fsns>ul{
    display:flex;
    justify-content: space-between;
}

.fsns>ul>li>a{
    color:#fff;
}